{"openapi":"3.1.0","info":{"title":"Lodestone","summary":"Unified RAG API for search, source discovery, and source administration.","description":"Centralized RAG service for searching across registered knowledge sources and retrieving full\nsource documents.\n\n## Authentication\n\n- Public endpoints use `Authorization: Bearer <api_token>`.\n- Admin endpoints use `Authorization: Bearer <admin_token>`.\n- `GET /v1/health` and `GET /metrics` do not require authentication.\n\n## Rate Limits\n\nAuthenticated public endpoints return:\n\n- `X-RateLimit-Limit`\n- `X-RateLimit-Remaining`\n- `X-RateLimit-Reset`\n\n## Response Envelopes\n\n- Successful responses include `request_id`, `status`, `data`, and `meta`.\n- Error responses include `request_id`, `status`, `error`, and `timestamp`.","version":"0.2.1"},"servers":[{"url":"https://lodestone.ai.astra-team.ru"}],"paths":{"/auth/login":{"get":{"tags":["Auth"],"summary":"Initiate SSO login via Keycloak","description":"Redirect the browser to Keycloak for Authorization Code + PKCE login.\n\nAfter successful authentication Keycloak redirects back to ``/auth/callback``\nwhich exchanges the code for tokens and sets a session cookie.\n\nThe optional ``next`` query parameter controls the post-login redirect\n(relative paths only; absolute URLs are ignored to prevent open-redirect).","operationId":"login_auth_login_get","parameters":[{"name":"next","in":"query","required":false,"schema":{"type":"string","default":"/","title":"Next"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-mint":{"metadata":{"playground":"none"}}}},"/auth/callback":{"get":{"tags":["Auth"],"summary":"OAuth callback","description":"Handle the Keycloak authorization callback.\n\nExchanges the authorization ``code`` for tokens, validates the JWT,\nchecks for ``lodestone_user`` role, creates a server-side session in\nRedis, and sets an ``HttpOnly`` session cookie.","operationId":"callback_auth_callback_get","parameters":[{"name":"code","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code"}},{"name":"state","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"State"}},{"name":"error","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-mint":{"metadata":{"playground":"none"}}}},"/auth/logout":{"get":{"tags":["Auth"],"summary":"Logout — clear session","description":"Terminate the current session and redirect to Keycloak logout.\n\nDeletes the server-side session from Redis, clears the session cookie,\nand redirects to the Keycloak end-session endpoint so the SSO session\nis also terminated.","operationId":"logout_auth_logout_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-mint":{"metadata":{"playground":"none"}}}},"/auth/profile":{"get":{"tags":["Auth"],"summary":"Current SSO profile","description":"Return the current SSO profile JSON payload.","operationId":"profile_auth_profile_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/cli/start":{"post":{"tags":["Auth"],"summary":"Start CLI browser login","description":"Create a pending CLI login session for browser verification.","operationId":"cli_start_auth_cli_start_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CLILoginStartRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response Cli Start Auth Cli Start Post"}}}}}}},"/auth/cli/verify":{"get":{"tags":["Auth"],"summary":"Verify CLI browser login","description":"Show the browser confirmation page for a CLI login.","operationId":"cli_verify_page_auth_cli_verify_get","parameters":[{"name":"user_code","in":"query","required":true,"schema":{"type":"string","title":"User Code"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}},"x-mint":{"metadata":{"playground":"none"}}},"post":{"tags":["Auth"],"summary":"Approve or deny CLI login","description":"Approve or deny a pending CLI login from the current SSO browser session.","operationId":"cli_verify_auth_cli_verify_post","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/cli/token":{"post":{"tags":["Auth"],"summary":"Poll CLI login token","description":"Poll for CLI token issuance using a device code.","operationId":"cli_token_auth_cli_token_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CLITokenRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/cli/refresh":{"post":{"tags":["Auth"],"summary":"Refresh CLI token","description":"Rotate a CLI refresh token and issue a new token pair.","operationId":"cli_refresh_auth_cli_refresh_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CLIRefreshRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}}}}},"/auth/cli/revoke":{"post":{"tags":["Auth"],"summary":"Revoke CLI token","description":"Revoke a CLI token pair by refresh token.","operationId":"cli_revoke_auth_cli_revoke_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CLIRevokeRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":{"type":"boolean"},"type":"object","title":"Response Cli Revoke Auth Cli Revoke Post"}}}}}}},"/auth/mcp-token":{"post":{"tags":["Auth"],"summary":"Create MCP user token","description":"Create a Lodestone-issued MCP Bearer token for the current SSO user.","operationId":"create_mcp_token_auth_mcp_token_post","parameters":[{"name":"name","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Create Mcp Token Auth Mcp Token Post"}}}}}}},"/auth/mcp-tokens":{"get":{"tags":["Auth"],"summary":"List MCP user tokens","description":"List active MCP token metadata for the current SSO user.","operationId":"list_mcp_tokens_auth_mcp_tokens_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"additionalProperties":true,"type":"object","title":"Response List Mcp Tokens Auth Mcp Tokens Get"}}}}}}},"/auth/mcp-token/{token_hash}":{"delete":{"tags":["Auth"],"summary":"Revoke MCP user token","description":"Revoke an MCP token owned by the current SSO user.","operationId":"revoke_mcp_token_auth_mcp_token__token_hash__delete","parameters":[{"name":"token_hash","in":"path","required":true,"schema":{"type":"string","title":"Token Hash"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"title":"Response Revoke Mcp Token Auth Mcp Token  Token Hash  Delete"}}}}}}},"/v1/health":{"get":{"tags":["gateway"],"summary":"Get service health","description":"Check service health and dependency status. No auth required.","operationId":"health_check_v1_health_get","responses":{"200":{"description":"Current service status with dependency health details.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthStatus"}}}}}}},"/v1/query":{"post":{"tags":["gateway"],"summary":"Search across knowledge sources","description":"Execute a RAG query across configured sources.","operationId":"query_v1_query_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryRequest"}}},"required":true},"responses":{"200":{"description":"Aggregated query results and execution metadata.","headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"400":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"}}}},"401":{"description":"Bearer token is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"}}}},"429":{"description":"Request exceeded the configured rate limit.","headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Rate limit exceeded"},"timestamp":"2026-03-06T12:00:00Z"}}}},"502":{"description":"All configured sources failed to answer the query.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"All sources failed"},"timestamp":"2026-03-06T12:00:00Z"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/sources":{"get":{"tags":["gateway"],"summary":"List available sources","description":"List active RAG providers with optional search/filtering.","operationId":"list_sources_v1_sources_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"description":"Search name/description","title":"Q"},"description":"Search name/description"},{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"description":"Filter by provider type","title":"Type"},"description":"Filter by provider type"},{"name":"health","in":"query","required":false,"schema":{"anyOf":[{"enum":["healthy","degraded","down"],"type":"string"},{"type":"null"}],"description":"Filter by health status","title":"Health"},"description":"Filter by health status"}],"responses":{"200":{"description":"Available public sources and their current health status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourcesResponse"}}},"headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}}},"400":{"description":"Request validation failed.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Request exceeded the configured rate limit.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Rate limit exceeded"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}},"headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}}}}}},"/v1/documents/{source_id}/{page_id}":{"get":{"tags":["gateway"],"summary":"Get a full source document","description":"Retrieve a full parent document from the external database.","operationId":"get_document_v1_documents__source_id___page_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","description":"Source identifier, for example \"aa-confluence\".","title":"Source Id"},"description":"Source identifier, for example \"aa-confluence\"."},{"name":"page_id","in":"path","required":true,"schema":{"type":"string","description":"Source-native page or document identifier.","title":"Page Id"},"description":"Source-native page or document identifier."}],"responses":{"200":{"description":"The full parent document and retrieval metadata.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentResponse"}}},"headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}}},"401":{"description":"Bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The provider, document, or parent table was not found.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Document not found: page-123"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Request exceeded the configured rate limit.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Rate limit exceeded"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}},"headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}}},"503":{"description":"External document database is not configured for this environment.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"External database not configured"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/telemetry":{"post":{"tags":["gateway"],"summary":"Ingest CLI telemetry event","description":"Accept a CLI telemetry event. No authentication required.","operationId":"ingest_telemetry_v1_telemetry_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TelemetryPayload"}}},"required":true},"responses":{"202":{"description":"Event accepted for processing."},"400":{"description":"Request validation failed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"}}}},"429":{"description":"Request exceeded the configured rate limit.","headers":{"X-RateLimit-Limit":{"description":"Maximum number of requests allowed in the current window.","schema":{"type":"string","example":"100"}},"X-RateLimit-Remaining":{"description":"Remaining requests available in the current window.","schema":{"type":"string","example":"99"}},"X-RateLimit-Reset":{"description":"Seconds until the current rate-limit window resets.","schema":{"type":"string","example":"60"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Rate limit exceeded"},"timestamp":"2026-03-06T12:00:00Z"}}}}}}},"/v1/admin/sources":{"get":{"tags":["admin"],"summary":"List configured sources","description":"List provider sources with optional search/filtering.","operationId":"list_sources_v1_admin_sources_get","security":[{"AdminBearer":[]}],"parameters":[{"name":"active","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Filter by active status","title":"Active"},"description":"Filter by active status"},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"description":"Search name/description","title":"Q"},"description":"Search name/description"},{"name":"type","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":100},{"type":"null"}],"description":"Filter by provider type","title":"Type"},"description":"Filter by provider type"},{"name":"health","in":"query","required":false,"schema":{"anyOf":[{"enum":["healthy","degraded","down"],"type":"string"},{"type":"null"}],"description":"Filter by health status","title":"Health"},"description":"Filter by health status"}],"responses":{"200":{"description":"Configured sources with optional admin-only filters applied.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderInfo"},"title":"Response List Sources V1 Admin Sources Get"}}}},"400":{"description":"Request validation failed.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"post":{"tags":["admin"],"summary":"Create a source","description":"Create a new source instance.\n\nValidates that the provider type is registered and that external\ndependencies (e.g. Qdrant collection) are reachable.","operationId":"create_source_v1_admin_sources_post","security":[{"AdminBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceCreateRequest"}}}},"responses":{"201":{"description":"The source was created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderInfo"}}}},"400":{"description":"Request validation failed.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"A source with the same identifier already exists.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Source already exists: hr-confluence"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The source configuration failed external dependency validation.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed: qdrant_collection: Collection not found"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/admin/sources/{source_id}":{"get":{"tags":["admin"],"summary":"Get source details","description":"Get a single source by source_id.","operationId":"get_source_v1_admin_sources__source_id__get","security":[{"AdminBearer":[]}],"parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","description":"Registered source identifier, for example \"hr-confluence\".","title":"Source Id"},"description":"Registered source identifier, for example \"hr-confluence\"."}],"responses":{"200":{"description":"The requested source definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderInfo"}}}},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The requested source does not exist.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Source not found: hr-confluence"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["admin"],"summary":"Update a source","description":"Partially update a source. Re-validates if capabilities change.","operationId":"update_source_v1_admin_sources__source_id__patch","security":[{"AdminBearer":[]}],"parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","description":"Registered source identifier, for example \"hr-confluence\".","title":"Source Id"},"description":"Registered source identifier, for example \"hr-confluence\"."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SourceUpdateRequest"}}}},"responses":{"200":{"description":"The source was updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProviderInfo"}}}},"400":{"description":"Request validation failed.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed","details":{"errors":[{"loc":["body","query"],"msg":"Field required","type":"missing"}]}},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The requested source does not exist.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Source not found: hr-confluence"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The updated source configuration failed external dependency validation.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Validation failed: qdrant_collection: Collection not found"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["admin"],"summary":"Deactivate a source","description":"Soft-delete a source (set active=false).","operationId":"delete_source_v1_admin_sources__source_id__delete","security":[{"AdminBearer":[]}],"parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","description":"Registered source identifier, for example \"hr-confluence\".","title":"Source Id"},"description":"Registered source identifier, for example \"hr-confluence\"."}],"responses":{"204":{"description":"The source was deactivated successfully."},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The requested source does not exist.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Source not found: hr-confluence"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/admin/sources/{source_id}/validate":{"post":{"tags":["admin"],"summary":"Validate a source","description":"Run validation checks on an existing source.","operationId":"validate_source_endpoint_v1_admin_sources__source_id__validate_post","security":[{"AdminBearer":[]}],"parameters":[{"name":"source_id","in":"path","required":true,"schema":{"type":"string","description":"Registered source identifier, for example \"hr-confluence\".","title":"Source Id"},"description":"Registered source identifier, for example \"hr-confluence\"."}],"responses":{"200":{"description":"Validation results for the requested source.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResult"}}}},"401":{"description":"Admin bearer token is missing or invalid.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Missing or invalid authentication token"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The requested source does not exist.","content":{"application/json":{"example":{"request_id":"00000000-0000-0000-0000-000000000000","status":"error","error":{"message":"Source not found: hr-confluence"},"timestamp":"2026-03-06T12:00:00Z"},"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"CLILoginStartRequest":{"properties":{"client_name":{"type":"string","maxLength":80,"minLength":1,"title":"Client Name","default":"lodestone-cli"},"device_name":{"type":"string","maxLength":120,"minLength":1,"title":"Device Name","default":"unknown-device"},"scopes":{"items":{"type":"string"},"type":"array","title":"Scopes"}},"type":"object","title":"CLILoginStartRequest","description":"Request body for starting a CLI browser verification flow."},"CLIRefreshRequest":{"properties":{"refresh_token":{"type":"string","minLength":16,"title":"Refresh Token"}},"type":"object","required":["refresh_token"],"title":"CLIRefreshRequest","description":"Request body for rotating CLI refresh tokens."},"CLIRevokeRequest":{"properties":{"refresh_token":{"type":"string","minLength":16,"title":"Refresh Token"}},"type":"object","required":["refresh_token"],"title":"CLIRevokeRequest","description":"Request body for revoking CLI refresh tokens."},"CLITokenRequest":{"properties":{"device_code":{"type":"string","minLength":16,"title":"Device Code"}},"type":"object","required":["device_code"],"title":"CLITokenRequest","description":"Polling request body for exchanging a device code."},"Citation":{"properties":{"title":{"type":"string","title":"Title","default":""},"url":{"type":"string","title":"Url","default":""},"breadcrumb":{"type":"string","title":"Breadcrumb","default":""}},"type":"object","title":"Citation","description":"A citation reference pointing to a source document.","examples":[{"breadcrumb":"HR > Policies > Time Off","title":"How to Request Time Off","url":"https://confluence.example.com/pages/12345"}]},"ComponentHealth":{"properties":{"name":{"type":"string","title":"Name"},"status":{"type":"string","enum":["healthy","degraded","down"],"title":"Status"},"latency_ms":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latency Ms"}},"type":"object","required":["name","status"],"title":"ComponentHealth","description":"Health status for a single infrastructure component."},"Context":{"properties":{"text":{"type":"string","title":"Text","default":""},"source":{"type":"string","title":"Source","default":""},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"},"score":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score","description":"Raw provider score (0-1)","default":0.0},"unified_score":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Unified Score","description":"Normalized score after aggregation (0-1)","default":0.0},"rank":{"type":"integer","minimum":0.0,"title":"Rank","description":"Position in ranked results","default":0},"tokens":{"type":"integer","minimum":0.0,"title":"Tokens","description":"Token count for this context","default":0},"document_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Document Url","description":"API path to retrieve the full parent document"}},"type":"object","title":"Context","description":"A single context document in the response.","examples":[{"document_url":"/v1/documents/confluence/12345","metadata":{"page_id":"12345"},"rank":1,"score":0.92,"source":"confluence","text":"To request time off, submit a form in the HR portal...","tokens":42,"unified_score":0.87}]},"DocumentData":{"properties":{"page_id":{"type":"string","title":"Page Id"},"text":{"type":"string","title":"Text"},"metadata":{"additionalProperties":true,"type":"object","title":"Metadata"},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At"}},"type":"object","required":["page_id","text"],"title":"DocumentData","description":"Full parent document from external database."},"DocumentMeta":{"properties":{"latency_ms":{"type":"number","minimum":0.0,"title":"Latency Ms","description":"Request duration in ms","default":0.0},"source_id":{"type":"string","title":"Source Id","default":""}},"type":"object","title":"DocumentMeta","description":"Metadata for document retrieval response."},"DocumentResponse":{"properties":{"request_id":{"type":"string","title":"Request Id","default":""},"status":{"type":"string","title":"Status","default":"success"},"data":{"$ref":"#/components/schemas/DocumentData"},"meta":{"$ref":"#/components/schemas/DocumentMeta"}},"type":"object","required":["data"],"title":"DocumentResponse","description":"Response envelope for GET /v1/documents/{source_id}/{page_id}."},"ErrorDetail":{"properties":{"message":{"type":"string","title":"Message"},"details":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Details"}},"type":"object","required":["message"],"title":"ErrorDetail","description":"Error detail payload.","examples":[{"details":{"field":"query"},"message":"Query must not be whitespace-only"}]},"ErrorResponse":{"properties":{"request_id":{"type":"string","title":"Request Id","default":""},"status":{"type":"string","const":"error","title":"Status","default":"error"},"error":{"$ref":"#/components/schemas/ErrorDetail"},"timestamp":{"type":"string","format":"date-time","title":"Timestamp"}},"type":"object","required":["error"],"title":"ErrorResponse","description":"Standard error response envelope.","examples":[{"error":{"details":{"field":"query"},"message":"Query must not be whitespace-only"},"request_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","status":"error","timestamp":"2026-03-04T12:00:00Z"}]},"HealthStatus":{"properties":{"status":{"type":"string","enum":["healthy","degraded","unhealthy"],"title":"Status"},"components":{"items":{"$ref":"#/components/schemas/ComponentHealth"},"type":"array","title":"Components"}},"type":"object","required":["status"],"title":"HealthStatus","description":"Aggregated health status for the service."},"ProviderInfo":{"properties":{"source_id":{"type":"string","title":"Source Id","default":""},"name":{"type":"string","title":"Name","default":""},"description":{"type":"string","title":"Description","default":""},"type":{"type":"string","title":"Type","default":""},"version":{"type":"string","title":"Version","default":""},"health":{"type":"string","enum":["healthy","degraded","down"],"title":"Health","default":"healthy"},"capabilities":{"additionalProperties":true,"type":"object","title":"Capabilities"}},"type":"object","title":"ProviderInfo","description":"Provider metadata for /v1/sources endpoint.","examples":[{"capabilities":{"collection_name":"aa-confluence","min_relevance":0.77,"parent_table":"tech_wiki_parent_documents"},"description":"Corporate knowledge base with HR policies and guidelines","health":"healthy","name":"Confluence Wiki","source_id":"confluence","type":"vector_search","version":"1.0.0"}]},"QueryConstraints":{"properties":{"deadline_ms":{"anyOf":[{"type":"integer","exclusiveMinimum":0.0},{"type":"null"}],"title":"Deadline Ms","description":"Maximum execution time in ms"},"max_tokens":{"anyOf":[{"type":"integer","exclusiveMinimum":0.0},{"type":"null"}],"title":"Max Tokens","description":"Maximum total tokens in response"}},"additionalProperties":false,"type":"object","title":"QueryConstraints","description":"Optional execution constraints for a query.","examples":[{"deadline_ms":3000,"max_tokens":4096}]},"QueryData":{"properties":{"answer":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Answer"},"confidence":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Confidence","description":"Aggregate confidence score (0-1)"},"contexts":{"items":{"$ref":"#/components/schemas/Context"},"type":"array","title":"Contexts"},"citations":{"anyOf":[{"items":{"$ref":"#/components/schemas/Citation"},"type":"array"},{"type":"null"}],"title":"Citations"}},"type":"object","title":"QueryData","description":"Data payload of a successful query response.","examples":[{"contexts":[]}]},"QueryMeta":{"properties":{"latency_ms":{"type":"number","minimum":0.0,"title":"Latency Ms","description":"Total query duration in ms","default":0.0},"total_tokens":{"type":"integer","minimum":0.0,"title":"Total Tokens","description":"Total tokens across all contexts","default":0},"sources_used":{"items":{"type":"string"},"type":"array","title":"Sources Used","description":"Source IDs that contributed"},"sources_failed":{"items":{"type":"string"},"type":"array","title":"Sources Failed","description":"Source IDs that failed or timed out"},"documents_returned":{"type":"integer","minimum":0.0,"title":"Documents Returned","description":"Number of documents in response","default":0},"strategy":{"type":"string","title":"Strategy","default":"merge_ranked"},"trace_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Trace Id","description":"Distributed trace ID for observability"}},"type":"object","title":"QueryMeta","description":"Metadata about query execution (Constitution V compliant).","examples":[{"documents_returned":3,"latency_ms":245.5,"sources_failed":[],"sources_used":["confluence"],"strategy":"merge_ranked","total_tokens":512}]},"QueryParams":{"properties":{"strategy":{"type":"string","enum":["merge_ranked","best_of_k","consensus"],"title":"Strategy","default":"merge_ranked"}},"additionalProperties":false,"type":"object","title":"QueryParams","description":"Aggregation strategy parameters.","examples":[{"strategy":"merge_ranked"}]},"QueryRequest":{"properties":{"query":{"type":"string","maxLength":1000,"minLength":1,"title":"Query","description":"The search query text (1-1000 chars, whitespace-only rejected)"},"sources":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Sources","description":"Filter to specific source IDs; None = all sources"},"max_results":{"type":"integer","maximum":20.0,"minimum":1.0,"title":"Max Results","description":"Maximum number of results to return (1-20)","default":5},"params":{"anyOf":[{"$ref":"#/components/schemas/QueryParams"},{"type":"null"}]},"constraints":{"anyOf":[{"$ref":"#/components/schemas/QueryConstraints"},{"type":"null"}]}},"additionalProperties":false,"type":"object","required":["query"],"title":"QueryRequest","description":"Incoming query request.","examples":[{"constraints":{"deadline_ms":10000},"max_results":5,"params":{"strategy":"merge_ranked"},"query":"Что такое AWX Operator?","sources":["aa-confluence"]}]},"QueryResponse":{"properties":{"request_id":{"type":"string","title":"Request Id","default":""},"status":{"type":"string","title":"Status","default":"success"},"data":{"$ref":"#/components/schemas/QueryData"},"meta":{"$ref":"#/components/schemas/QueryMeta"}},"type":"object","title":"QueryResponse","description":"Successful query response envelope.","examples":[{"data":{"contexts":[]},"meta":{"documents_returned":0,"latency_ms":245.5,"sources_failed":[],"sources_used":[],"strategy":"merge_ranked","total_tokens":0},"request_id":"a1b2c3d4-e5f6-7890-abcd-ef1234567890","status":"success"}]},"SourceCreateRequest":{"properties":{"source_id":{"type":"string","title":"Source Id","description":"Unique identifier, e.g. \"hr-confluence\""},"name":{"type":"string","maxLength":200,"minLength":1,"title":"Name"},"description":{"type":"string","title":"Description","default":""},"type":{"type":"string","title":"Type","description":"Registered provider type, e.g. \"confluence\""},"version":{"type":"string","title":"Version","default":"1.0.0"},"capabilities":{"additionalProperties":true,"type":"object","title":"Capabilities","examples":[{"collection_name":"aa-confluence","min_relevance":0.77,"parent_table":"aadocs_parent_documents","timeout_ms":5000}]},"active":{"type":"boolean","title":"Active","default":true}},"type":"object","required":["source_id","name","type"],"title":"SourceCreateRequest","description":"Body for POST /v1/admin/sources."},"SourceUpdateRequest":{"properties":{"name":{"anyOf":[{"type":"string","maxLength":200,"minLength":1},{"type":"null"}],"title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"capabilities":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Capabilities"},"active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Active"},"version":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Version"}},"type":"object","title":"SourceUpdateRequest","description":"Body for PATCH /v1/admin/sources/{source_id}."},"SourcesData":{"properties":{"sources":{"items":{"$ref":"#/components/schemas/ProviderInfo"},"type":"array","title":"Sources"}},"type":"object","title":"SourcesData","description":"Data payload of a sources list response."},"SourcesMeta":{"properties":{"latency_ms":{"type":"number","minimum":0.0,"title":"Latency Ms","description":"Request duration in ms","default":0.0},"total":{"type":"integer","minimum":0.0,"title":"Total","description":"Number of matching sources","default":0}},"type":"object","title":"SourcesMeta","description":"Metadata for sources list response."},"SourcesResponse":{"properties":{"request_id":{"type":"string","title":"Request Id","default":""},"status":{"type":"string","title":"Status","default":"success"},"data":{"$ref":"#/components/schemas/SourcesData"},"meta":{"$ref":"#/components/schemas/SourcesMeta"}},"type":"object","title":"SourcesResponse","description":"Response envelope for GET /v1/sources."},"TelemetryClient":{"properties":{"version":{"type":"string","maxLength":32,"title":"Version"},"platform":{"type":"string","maxLength":32,"title":"Platform"},"os_release":{"anyOf":[{"type":"string","maxLength":128},{"type":"null"}],"title":"Os Release"},"node_version":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"title":"Node Version"},"arch":{"anyOf":[{"type":"string","maxLength":16},{"type":"null"}],"title":"Arch"}},"type":"object","required":["version","platform"],"title":"TelemetryClient","description":"CLI client metadata."},"TelemetryPayload":{"properties":{"event":{"type":"string","maxLength":64,"title":"Event"},"data":{"additionalProperties":true,"type":"object","title":"Data"},"client":{"$ref":"#/components/schemas/TelemetryClient"},"timestamp":{"type":"string","format":"date-time","title":"Timestamp"}},"type":"object","required":["event","client","timestamp"],"title":"TelemetryPayload","description":"Incoming telemetry event from CLI client."},"ValidationCheck":{"properties":{"name":{"type":"string","title":"Name"},"ok":{"type":"boolean","title":"Ok"},"detail":{"type":"string","title":"Detail","default":""}},"type":"object","required":["name","ok"],"title":"ValidationCheck","description":"Single validation check result."},"ValidationResult":{"properties":{"valid":{"type":"boolean","title":"Valid"},"checks":{"items":{"$ref":"#/components/schemas/ValidationCheck"},"type":"array","title":"Checks"}},"type":"object","required":["valid"],"title":"ValidationResult","description":"Result of source validation."}},"securitySchemes":{"HTTPBearer":{"type":"http","description":"API token or Keycloak JWT","scheme":"bearer"},"AdminBearer":{"type":"http","description":"Admin token or Keycloak JWT with lodestone_admin role","scheme":"bearer"}}},"tags":[{"name":"gateway","description":"Public endpoints for query execution, source discovery, and document retrieval."},{"name":"admin","description":"Admin endpoints for managing registered sources and running validation checks."}]}